.jflatTimeline {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jflatTimeline .month-year-bar {
    background-color: #f10f24;
    display: table;
    width: 100%;
    color: #FFF;
    font-size: 25px;
    font-weight: 300;
    padding: 10px 0px 15px 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    margin-top: 33px;
    border-radius: 5px 5px 0px 0px;
}

.jflatTimeline .dates-bar {
    border: solid 1px #e7e7e7;
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 50px;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0px;
    margin-top: 0px;
    background: #FFF;
}

.jflatTimeline .month-year-bar .prev, .jflatTimeline .month-year-bar .next {
    padding: 0 12px;
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
}

.jflatTimeline .dates-bar a span.date {
    display: block;
    font-size: 30px;
    padding: 5px;
}

.jflatTimeline .dates-bar a {
    display: block;
    height: 90px;
    width: 80px;
    color: #000;
    text-align: center;
    display: inline-block;
    border-right: 1px solid #E7E7E7;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    transition: color .2s, transform .2s;
    -webkit-transition: color .2s, transform .2s;
    -moz-transition: color .2s, transform .2s;
    z-index: 0;
}

.jflatTimeline .dates-bar a.prev, .jflatTimeline .dates-bar a.next {
    position: absolute;
    top: 0px;
    width: 50px;
    height: 100%;
    min-width: 0;
    font-size: 20px;
    background-color: white;
    font-size: 30px;
    line-height: 85px;
    z-index: 2;
    display: inline-block;
}

.jflatTimeline .dates-bar a.selected {
    background-color: transparent;
    color: #f10f24;
    font-weight: 700;
}

.jflatTimeline .dates-bar a:hover {
    color: #f10f24;
    text-decoration: none;
}

.jflatTimeline .dates-bar a.noevent {
    display: none;
    width: 100%;
    color: #7B7B7B;
    font-size: 19px;
    line-height: 70px;
    padding: 10px;
}