/*------------------------------------------------------------------

COLOR:	YELLOW

-------------------------------------------------------------------*/

h2 {
	color: #ff9c00;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background: #ff9c00;
}
.manage li:hover .icon i {
	background: #ff9c00;
	border-color: #ff9c00;
}
.manage li .icon i, .icon-main i {
	color: #ff9c00;
}
.tittle h2 {
	color: #ff9c00 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
}
#event_time, #event_time i, .days .e-time, #owl-testi .testi {
	background: #ff9c00;
	border-color: #ff9c00;
}
.panel-default > .panel-heading .panel-title a:before {
	color: #fff;
}
header nav .active {
	background: #ff9c00;
}
#gallery .posts div.over, .overlay {
	background: rgba(255,156,0,0.8);
}
.register-input button {
	background: #ff9c00;
	border-color: #ff9c00;
}
#member {
	background: #ff9c00;
}
.register-input button:hover {
	color: #ff9c00;
}
#news input[name="submit"] {
	background: #ff9c00;
	border-color: #ff9c00;
}
ul.countdown .round-back {
	background: #ff9c00;
}
.partner .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
}
#price_table .bg-1, #price_table .bg-2, #price_table .bg-3, #price_table .bg-4 {
	background: #ff9c00;
}
#gallery .icon i {
	color: #ff9c00;
}
ul.countdown .round-back {
	background: #ff9c00;
}
#member .team li:hover i {
	background: #ff9c00;
}
#member .figcaption span {
	color: #ff9c00;
}
.largeredbtn {
	background: #ff9c00;
	border-color: #ff9c00;
}
.days .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active {
	background: #ff9c00;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
}
.form-control:focus {
	border-color: #ff9c00;
}
#member .figcaption span:hover {
	background: #ff9c00;
}
.styleswitcher {
	background: #ffffff;
	color: #595959;
}
.styleswitcher p {
	color: #ff9c00 !important;
}
.stylebutton {
	background: #fff;
}
#page-loader {
	background: #ff9c00;
}
.loader7:before {
	background-color: #fff;
}
.loader7:after {
	background-color: #fff;
}
.loader7:after {
	background-color: #fff;
}
.panel-heading {
	background: #ff9c00;
}
.e-time {
	background: #fff !important;
	color: #ff9c00;
}
#partner li.active a{
	color:#fff !important;
}
