
/********** Style for the month year bar ***************/

.jflatTimeline .month-year-bar .year{
	float : left;
}

.jflatTimeline .month-year-bar .month{
	float : right;
}

/********** Style for the bar containing dates ***************/

.jflatTimeline .dates-bar a.selected>span.date{
	transform : scale(1.2, 1.2);
	-moz-transform : scale(1.2, 1.2);
	-webkit-transform : scale(1.2, 1.2);
}

.jflatTimeline .dates-bar a.prev,
.jflatTimeline .dates-bar a.next{
	position : absolute;
	top : 0;
	width : 50px;
	min-width : 0;
	font-size : 20px;
	background-color : white;
	font-size : 30px;
	line-height : 70px;
	z-index : 2;
	display : inline-block;
}

.jflatTimeline .dates-bar .month span{
    display: inline-block;
    min-width: 60px;
    text-align: center;
}

.jflatTimeline .dates-bar a.prev{
	left : 0;
}
.jflatTimeline .dates-bar a.next{
	right : 0;
	border-left : solid 1px #e7e7e7;
}

.jflatTimeline .dates-bar a span.date{
	display : block;
	font-size : 30px;
}


.jflatTimeline .dates-bar a span.month{
	font-size : 13px;
}

/********** Whole style for timeline-wrap ***************/

.jflatTimeline .timeline-wrap .event{
	overflow : auto;
	display: none;
}

.jflatTimeline .timeline-wrap .event.selected{
	display : block;
}

/********** Make it responsive ***************/



.jflatTimeline.s_screen .timeline-wrap .event div.layout1>div{
	float : none;
	width : 100%;
}


.jflatTimeline.s_screen .timeline-wrap .event div.layout2>div{
	float : none;
	width : 100%;
}

@media screen and (max-width:750px) {
	.jflatTimeline{
		width : 600px;
	}
}

@media screen and (max-width:639px) {

	.jflatTimeline{
		width : 498px;
	}
}

@media screen and (max-width:500px) {

	.jflatTimeline{
		width : 80%;
	}
}